.root {
    -fx-font-size: 9pt;
    /* -fx-background-color: #ffffff; */
}

.table-row-cell:V .text {
    -fx-fill: #000000;
}

.table-row-cell:D .text {
    -fx-fill: #0000AA;
}

.table-row-cell:I .text {
    -fx-fill: #009A00;
}

.table-row-cell:W .text {
    -fx-fill: #FF9A00;
}

.table-row-cell:E .text {
    -fx-fill: #FF0000;
}

.table-row-cell:F .text {
    -fx-fill: #FF0000;
}
