.root {
    /* -fx-background-color: #ff0000; */
}

.table-row-cell:V {
    -fx-base: brown;
}

.table-row-cell:D {
    -fx-base: brown;
}

.table-row-cell:I {
    -fx-base: white;
}

.table-row-cell:W {
    -fx-base: yellow;
}

.table-row-cell:E {
    -fx-base: red;
}

.table-row-cell:F {
    -fx-base: brown;
}
